{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'styles/style.scss' %}" type="text/css" />
    <script src="{% static '/scripts/app.js' %}" defer></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <span>Hello, {{ user.first_name }}!</span>
        <span>|</span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
        <span>|</span>
        {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span>|</span>
        <span><a href="{% url 'signup' %}">Sign-up</a></span>
        <span>|</span>
        {% endif %}
        <a href="/">Home</a>
        <span>|</span>
        <a href="/spells">Spells</a>
        <span>|</span>
        <a href="{% url 'character-create' %}">Create a Character</a>
        <span>|</span>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>